<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Power BI Report</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <a id="nav" href="/">Chart Generator</a>
    <iframe title="Lab03" 
            src="https://app.powerbi.com/reportEmbed?reportId=65557a84-11c7-4300-b48e-92e8d3de4eb7&autoAuth=true&ctid=40127cd4-45f3-49a3-b05d-315a43a9f033" 
            frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>